.wrapper {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  color: white;
  background-color: rgba(2, 36, 36, 0.829);
  flex-wrap: wrap;
}

.h1 {
  text-align: center;
  background-color: rgba(65, 88, 88, 0.829);
  color: white;
  margin: 0;
  padding: 10px 0;
}
